<div class="container">
  <app-named-card [card]="card"></app-named-card>
  <hr>
  <app-progress-bar [progress]="progress"></app-progress-bar>
  <hr>
  <app-count-down [time]="time"></app-count-down>
  <hr>
  <app-rating (rated)="changeTime($event)"></app-rating>
  <div class="" style="clear: both"></div>
  <hr>
  <div class="row">
    <app-articles class="col-lg-6" [articles]="articles"></app-articles>
    <app-add-articles class="col-lg-6" (newArticleEmitter)="createArticle($event)"></app-add-articles>
  </div>
  <br><br><br>
</div>
